.container3 {
    margin: 100px;
}

.container3Part {
    margin: 0 50px 0 50px; 
    padding-top: 100px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgPart {
    width: 250px;
    height: 200px;
    text-align: center;
}

.imgPart img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: -5px;
}

.nomePart {
    font-size: 20px; 
    color: rgb(50, 52, 53); 
    font-weight: bold;
    text-align: center;
}

.redePart {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.redePart img {
    width: 30px;
}