footer {
    margin-top: 70px;
    padding: 10px;
    background-color: rgb(3, 66, 95);
    text-align: center;
    color: rgb(169, 201, 216);
    /* border: 2px solid black; */
}

.seta img{
    height: 20px;
}

.seta {
    position: fixed;
    bottom: 45px;
    right: 60px;
}